<div class="mt-3 container-fluid p-5" *ngIf="Orders">
  <div class="row gap-3 justify-content-around">
    <div class="card col-12 col-md-6" *ngFor="let Order of Orders">
      <div
        style="cursor: pointer"
        class="top-section text-center justify-content-center h1"
      >
        <img width="100%" src="{{ Order.productImage }}" alt="" />
      </div>
      <div class="bottom-section">
        <span class="title">{{ Order.address }}</span>
        <div class="row row1">
          <div class="item">
            <span class="big-text">{{ Order.price | currency }}</span>
          </div>
          <div class="item">
            <span class="big-text">{{ Order.name }}</span>
            <span class="regular-text"></span>
          </div>
          <div class="item">
            <span class="big-text">{{ Order.count }}</span>
            <span class="regular-text"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-50 mt-3 row justify-content-center gap-3 w-100">
    <button class="col btn btn-danger" (click)="Close()">Close</button>
    <button
      *ngIf="Orders[0].pending == 'pending'"
      class="col btn btn-success"
      (click)="StartProcessing()"
    >
      Start Processing
    </button>
    <button
      [disabled]="isDisabled"
      *ngIf="Orders[0].pending == 'processing'"
      class="col btn btn-success"
      (click)="CompleteTask()"
    >
      Complete This Task
    </button>
    <button
      disabled
      *ngIf="Orders[0].pending == 'completed'"
      class="col btn btn-secondary"
    >
      Completed
    </button>
  </div>
</div>
