<form>
  <div class="row mt-2" *ngIf="CartItem">
    <div class="border border-2 col-12 col-lg-6 p-3 rounded-2">
      <img
        src="{{ CartItem.product.url }}"
        alt="{{ CartItem.product.name }}"
        class="w-100"
      />
    </div>
    <div
      class="border border-3 b col-12 col-lg-6 p-3 rounded-2 position-relative"
    >
      <button
        class="w-25 btn btn-secondary position-absolute rounded-0 top-0 end-0"
      >
        {{ CartItem.product.productType }}
      </button>
      <button
        class="w-25 btn btn-secondary position-absolute rounded-0 bottom-0 end-0"
      >
        {{ CartItem.product.productBrand }} Brand
      </button>
      <div class="h1">{{ CartItem.product.name }}</div>
      <p class="h3 mb-4">{{ CartItem.product.price | currency }}</p>
      <div class="d-flex">
        <i
          (click)="DecreesCartitemCount(inp)"
          class="fa-solid fa-circle-minus text-warning me-2"
          style="cursor: pointer; font-size: 2em"
        ></i>
        <span #inp class="fw-bold" style="font-size: 1.5em">{{
          CartItem.count
        }}</span>
        <i
          (click)="increesCartitemCount(inp)"
          class="fa-solid fa-plus-circle text-warning ms-2"
          style="cursor: pointer; font-size: 2em"
        ></i>
        <button
          class="btn btn-outline-secondary ms-4"
          (click)="SaveCartItem(inp)"
        >
          Add To Cart
        </button>
      </div>
      <div class="mt-4">
        <h4>Description</h4>
        <p>{{ CartItem.product.description }}</p>
      </div>
    </div>
  </div>
</form>
