.pointer{
    cursor: pointer;
}
img{
    height: 400% !important;
}
.pad:hover{
    margin-left: 20px;
    transition: 0.5s;
}
.cont{
    position: relative;
overflow: hidden;
}
.done{
    bottom: -100%;
    transition: 0.3s;
}
.myimg:hover .done{
    bottom: 45% !important;
}
.myimg:hover img{
    opacity: 0.7;
    transform: scale(1.1);
    transition: 0.3s;
}