<form class="mt-3" *ngIf="OrderSummary">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header bg-primary text-light ms-0">
        <div class="row align-items-center">
          <div class="col-6 fs-4">Order Summary</div>
          <div class="col-6 text-end" routerLink="/CartItem">
            <a asp-action="index" class="btn btn-outline-light">Back to Cart</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="container-fluid rounded">
          <div class="row">
            <div class="col-12 col-lg-6 pb-2">
              <div class="row">
                <h4
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <span class="text-dark">Shipping Details:</span>
                </h4>
              </div>
              <div class="row my-1">
                <div class="col-3">
                  <label>Name</label>
                </div>
                <div class="col-9">
                  <input
                    [(ngModel)]="Name"
                    [ngClass]="{
                      'is-invalid': !Name
                    }"
                    name="Name"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">
                  <label>Phone</label>
                </div>
                <div class="col-9">
                  <input
                    [ngClass]="{
                      'is-invalid': !PhoneNumber
                    }"
                    [(ngModel)]="PhoneNumber"
                    name="PhoneNumber"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">
                  <label>Address</label>
                </div>
                <div class="col-9">
                  <input
                    [ngClass]="{
                      'is-invalid': !Address
                    }"
                    [(ngModel)]="Address"
                    name="City"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">
                  <label>City</label>
                </div>
                <div class="col-9">
                  <input
                    [ngClass]="{
                      'is-invalid': !City
                    }"
                    [(ngModel)]="City"
                    name="Address"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-5 offset-lg-1">
              <h4
                class="d-flex justify-content-between align-items-center mb-3"
              >
                <span class="text-dark">Order Summary:</span>
              </h4>
              <ul class="list-group mb-3">
                <li
                  *ngFor="let item of OrderSummary.cartItems"
                  class="list-group-item d-flex justify-content-between text-light bg-primary border border-primary"
                >
                  <div>
                    <h6>{{ item.product.name }}</h6>
                    <h6>
                      Quantity: {{ item.count }} X
                      {{ item.product.price | currency }}
                    </h6>
                  </div>
                  <span>{{ item.count * item.product.price }} </span>
                </li>

                <li
                  class="list-group-item d-flex justify-content-between text-primary bg-light border border-primary"
                >
                  <h5>Total (EGP)</h5>
                  <h5>{{ OrderSummary.cartTotal }}</h5>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-12 col-md-8 pt-2">
            <h6 class="text-primary">
              Estimate Arrival Date:{{ currentDateTime | date }}
            </h6>
          </div>
          <div class="col-12 col-md-4">
            <button
              type="submit"
              value="Place Order"
              class="btn btn-primary form-control"
              (click)="StartPay()"
            >
              <i class="bi bi-cash-stack"></i>&nbsp;Checkout Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
