<div class="container-fluid">
  <button class="btn btn-primary">All Users</button>
  <table class="table table-dark table-hover" *ngIf="Pagination">
    <thead>
      <tr class="text-center">
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let user of Pagination.users" #Div>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          {{
            user.roles.length > 0 ? user.roles.join(" , ") : "No Roles Found"
          }}
        </td>
        <td class="d-flex justify-content-center gap-3">
          <button class="btn btn-secondary" (click)="Open(user.id)">
            Mnage User
          </button>

          <button class="btn btn-danger" (click)="delete(user.id, Div)">
            Delete User
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center mt-3" *ngIf="Pagination">
  <pagination
    [boundaryLinks]="true"
    [itemsPerPage]="Pagination.itemsPerPage"
    [totalItems]="Pagination.productsCount"
    previousText="&lsaquo;"
    (pageChanged)="change($event)"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
