<div class="mt-5 d-flex justify-content-center">
  <form class="form" (ngSubmit)="Onsubmit()" [formGroup]="LogInForm">
    <p class="title">Login</p>
    <p class="message">login now and get full access to our app.</p>

    <label for="email">
      <input
        [ngClass]="{
          'is-invalid': submited && LogInForm.controls['email'].errors
        }"
        formControlName="email"
        class="input form-control"
        type="email"
        id="email"
        placeholder="Enter Your Email"
        required
      />
      <span>Email</span>
    </label>

    <div
      *ngIf="submited && LogInForm.controls['email'].errors"
      class="text text-danger"
    >
      <div
        *ngIf="
  submited && LogInForm.controls['email'].errors?.['required']"
      >
        email is Required
      </div>

      <div
        *ngIf="
  submited && LogInForm.controls['email'].errors?.['email']"
      >
        email is Not Valid
      </div>
    </div>

    <label for="password">
      <input
        formControlName="password"
        [ngClass]="{
          'is-invalid': submited && LogInForm.controls['password'].errors
        }"
        class="input form-control"
        id="password"
        type="password"
        placeholder=""
        required=""
      />
      <span>Password</span>
    </label>
    <div
      *ngIf="submited && LogInForm.controls['password'].errors"
      class="text text-danger"
    >
      <div
        *ngIf="
submited && LogInForm.controls['password'].errors?.['required']"
      >
        password is Required
      </div>

      <div
        *ngIf="
submited && LogInForm.controls['password'].errors?.['minlength']"
      >
        password length should be more than 5
      </div>
    </div>
    <button class="submit" (click)="LogIn()">Submit</button>
    <p class="signin">
      You Dont Have an Account ? <a routerLink="/Register">SignUp</a>
    </p>
  </form>
</div>
