<carousel class="car" [interval]="0" *ngIf="ProductsImages">
  <slide
    *ngFor="let item of ProductsImages"
    class="container p-0 position-relative pos"
    style="height: 70vh"
  >
    <img
      style="max-width: 100%"
      height="100%"
      src="{{ item.url }}"
      alt="first slide"
    />
    <div
      class="w-100 gap-2 d-flex position-absolute done justify-content-center m-auto"
    >
      <button class="btn btn-primary">Cart</button>
      <button class="btn btn-primary" routerLink="Products/{{ item.id }}">
        View
      </button>
    </div>
  </slide>
</carousel>
<!-- <form class="form">
  <p class="title">Register</p>
  <p class="message">Signup now and get full access to our app.</p>
  <div class="flex">
    <label>
      <input class="input" type="text" placeholder="" required="" />
      <span>Firstname</span>
    </label>

    <label>
      <input class="input" type="text" placeholder="" required="" />
      <span>Lastname</span>
    </label>
  </div>

  <label>
    <input class="input" type="email" placeholder="" required="" />
    <span>Email</span>
  </label>

  <label>
    <input class="input" type="password" placeholder="" required="" />
    <span>Password</span>
  </label>
  <label>
    <input class="input" type="password" placeholder="" required="" />
    <span>Confirm password</span>
  </label>
  <button class="submit">Submit</button>
  <p class="signin">Already have an acount ? <a href="#">Signin</a></p>
</form> -->
