<nav class="shadow navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        routerLink="/"
        style="border-radius: 30px; cursor: pointer"
        width="200px"
        height="100px"
        src="../../assets/Images/images.png"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-lg-flex flex-column flex-md-row justify-content-between fs-3"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav gap-2">
        <li class="nav-item pointer">
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item pointer">
          <a routerLinkActive="active" routerLink="/Products">Shop</a>
        </li>
        <li class="nav-item pointer">
          <a routerLinkActive="active" routerLink="/Contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav gap-3">
        <li class="nav-item m-lg-auto fs-1 pointer">
          <i class="fa-solid fa-cart-shopping"></i>
        </li>
        <li
          *ngIf="!AuthService.IsLogIn()"
          routerLink="LogIn"
          class="light2 fs-3 nav-item btn btn-outline-success"
        >
          <a class="nav-link">Login</a>
        </li>

        <li
          *ngIf="!AuthService.IsLogIn()"
          routerLink="Register"
          class="light2 fs-3 nav-item btn btn-outline-primary"
        >
          <a class="nav-link">SignUp</a>
        </li>

        <li
          (click)="AuthService.LogOut()"
          *ngIf="AuthService.IsLogIn()"
          routerLink="/"
          class="light2 fs-3 nav-item btn btn-outline-secondary"
        >
          <a class="nav-link">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
