<div class="row mt-4">
  <div class="h1 text-center" *ngIf="NoOrdersYet">No Orders Yet</div>
  <div
    class="col-12 col-lg-8 container-fluid row gap-3 justify-content-center"
    *ngIf="Orders"
  >
    <div class="card col-12 col-md-6" *ngFor="let Order of Orders">
      <div
        style="cursor: pointer; position: relative"
        class="top-section text-center justify-content-center h1"
        (click)="OpenDialog(Order.userId)"
      >
        New Order
        <div
          *ngIf="Order.reciverId == authservice.GetLoggedInUserId()"
          class="btn btn-success position-absolute"
          style="width: 100px; top: 2px; right: 6px"
        >
          For You
        </div>
        <div
          *ngIf="
            Order.reciverId != authservice.GetLoggedInUserId() &&
            Order.reciverId != null
          "
          class="btn btn-secondary position-absolute"
          style="width: 100px; top: 2px; right: 6px"
        >
          For other
        </div>
      </div>
      <div class="bottom-section">
        <span class="title">{{ Order.phoneNumber }}</span>
        <div class="row row1">
          <div class="item">
            <span class="big-text">{{ Order.userName }}</span>
          </div>
          <div class="item">
            <span class="big-text">{{ Order.orderStatus }}....</span>
            <span class="regular-text">{{ Order.price | currency }}</span>
          </div>
          <div class="item">
            <span class="regular-text">{{ Order.address }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
